#adding line
name: Build and deploy to GKE

on: 
  push:
    branches:
        -Dev-Branch-1

env:
   PROJECT_ID: ${{secrets.GKE_PROJ}}
   GKE_CLUSTER: robot-shop-1
   GKE_ZONE: us-central1-c
   DEPLOYMENT_NAME: robot-shop
   IMAGE: robotShop
   TAG: 1.0.0

jobs: 
  setup-build-publish-deploy:
    name: setup build publish deploy
    runs-on: ubuntu-latest

    steps:   
      - name: checkout repository
        uses: actions/checkout@v2
       
      - name: setup jdk 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
          server-id: github
          settings-path: ${{ github.workspace }}

      - name: build with maven
        run: mvn clean package -DskipTests

      - name: setup Google cloud CLI
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@0.1.3
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true
        with:
          service_account_key: ${{secrets.GOOGLE_CREDENTIALS}} 
          project_id: ${{secrets.GKE_PROJ}}   

      - name: config Docker
        run: |-
          gcloud --quite auth configure-docker

      - name: get GKE credentials
        run: |- 
          gcloud container clusters get-credentials "$GKE_CLUSTER" --zone "$GKE_ZONE"

      - name: build docker image
        run: |-
           docker build --tag "gcr.io/$PROJECT_ID/$IMAGE:$TAG"

      - name: Publish docker image to GCR
        run: |-
          docker push "gcr.io"/$PROJECT_ID/$IMAGE:$TAG"

                 